<!-- 
        bubble.ejs
        Bubbles that appear when a user clicks on a map site
-->

<div id="bubbleContent">
    <div class="bubbleStyle">
        <h3 class="bubbleHeader"><%= data.name %></h3>


        <% var imgDir = "images/" %>
        <% var pic = imgDir + data.images %>
        <% if (data.images && data.images.length != "") { %>
            <img src="<%= data.images[0] %>" class="bubbleImage" style="width:100%" />
        <% } %>
        <p><%= data.misc %></p>
        <p><%="Created By: " + data.userFName + " " + data.userLName %></p>
    </div>
</div>