<div id="info-panel" class="mdl-layout__drawer-right large-drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
        <a href="#" class="info-panel-closer">X</a>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

        <% var data = "init_data"; %>
        <% include siteinfo %>

        <div class="mdl-layout-spacer"></div>

        <button class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">help-outline</i>
        <div class="mdl-tooltip" data-mdl-for="tt1">
            Follow
        </div>
        </button>
    </nav>
</div>