<!-- 
        lightbox.ejs
        Lightboxes for viewing images
-->

<% var imgDir = "images/" %>
<% var pic = imgDir + data.images %>
<% if (data.images && data.images.length != "") { for(var n = 0; n < data.images.length; n++) {
            console.log(data.images[n]);
         
         %>  
    <a href="#" onclick="hideLightbox(this)" id="img<%= + n %>" class="lightbox">
        <img src="<%= data.images[n] %>" />
    </a>
<% }} %>