<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--blue-grey-900 mdl-color-text--grey-50">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= title %></span>
        <div class="mdl-layout-spacer"></div>
        <div class="material-icons mdl-badge" id="right-bar-btn">more_vert</div>
    </div> <!-- End header row -->
    </header>
    
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <span class="mdl-layout-title mdl-color-text--grey-300"><center>Civil War Battles</center></span>
        <br>
        <a class="mdl-navigation__link mdl-button  mdl-js-button mdl-js-ripple-effect" href="/"><i class="mdl-color-text--grey-400 material-icons" role="presentation">map</i>Map</a>
        <a class="mdl-navigation__link mdl-button  mdl-js-button mdl-js-ripple-effect" href="/admin"><i class="mdl-color-text--grey-400 material-icons" role="presentation">lock</i>Admin</a>
        <a class="mdl-navigation__link mdl-button  mdl-js-button mdl-js-ripple-effect" href="/account"><i class="mdl-color-text--grey-400 material-icons" role="presentation">person</i>Account</a>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">help-outline</i>
        <div class="mdl-tooltip" data-mdl-for="tt1">
            Follow
        </div>
        </button>
    </nav>
</div>
