<div id="siteInfo_div">
    <% var imgDir = "images/" %>
    <% var pic = imgDir + data.images %>
    <% if (data.images && data.images.length != "") { %>
        <img src="<%= pic %>" style="width:100%" />
    <% } %>
    <h3><%= data.name %></h3>
    <ul>
        <li><%= data.misc %></li>
    </ul>
</div>