/*
    drawer-right.css
    Stylesheet to go with our modification of MDL's drawer-left
*/

#left-bar-btn, #right-bar-btn {
    cursor: pointer;
}

.mdl-layout__drawer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: inherit;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}

.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);  
}

.mdl-layout__obfuscator-right {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    visibility: hidden;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.mdl-layout__drawer-right.active~.mdl-layout__obfuscator-right {
    background-color: rgba(0,0,0,.5);
    visibility: visible;
}

.mdl-layout__drawer-right>.mdl-layout-title {
    line-height: 56px;
    padding-left: 16px;
}

.mdl-layout__drawer-right.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.mdl-layout__drawer-right.is-visible~.mdl-layout__content.mdl-layout__content {
    overflow: hidden
}

.mdl-layout__drawer-right>* {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.mdl-layout__drawer-right>.mdl-layout__title,.mdl-layout__drawer-right>.mdl-layout-title {
    line-height: 64px;
    padding-left: 40px
}

@media screen and (max-width: 1024px) {
    .mdl-layout__drawer-right>.mdl-layout__title,.mdl-layout__drawer-right>.mdl-layout-title {
        line-height:56px;
        padding-left: 16px
    }
}

.mdl-layout__drawer-right .mdl-navigation {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.mdl-layout__drawer-right .mdl-navigation .mdl-navigation__link {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
    color: #757575
}

@media screen and (max-width: 1024px) {
    .mdl-layout__drawer-right .mdl-navigation .mdl-navigation__link {
        padding:16px
    }
}

.mdl-layout__drawer-right .mdl-navigation .mdl-navigation__link:hover {
    background-color: #e0e0e0
}

.mdl-layout__drawer-right .mdl-navigation .mdl-navigation__link--current {
    background-color: #e0e0e0;
    color: #000
}

/*right drawer width*/
.mdl-layout__drawer-right.large-drawer {
    width: 600px;
    right: -600px;
    border: 0;
}

.mdl-layout__drawer-right.active {
  right: -1px;
}

.listed {
  background: #fff;
  box-shadow: 0 1px 2px #999;
  height: 30px;
  line-height: 18px;
  list-style: none;
  margin: 3px 3px;
  padding: 5px 10px;
  text-align: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
  width: 150px;
}
.listed:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: rgba(0,0,0,1);
  background-color: #ccc;
  text-decoration:none;
  cursor:pointer;  
}

.listText {
    font-family: sans-serif;
    color: rgba(0,0,0,.75);
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30px;
}
.listText:hover {
    color: #000;
}

form.sidebar-form {
    padding-left: 30px;
    padding-right: 30px;
}

.deleteButton {
    font-size: 20px;
    background-color: rgb(244,67,54);;
    color: rgb(255,255,255);
    width: 48%;
    float: right;
    bottom: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: all 0.2s ease-in-out;
}
.deleteButton:hover {
    background-color: rgb(244,67,54);
    color: rgb(255,255,255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.deleteButton:active {
    background-color: rgb(244,67,54);
    color: rgb(255,255,255);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.sidebar-content {
    margin: 15px;
}