<!DOCTYPE html>
<html lang="en">

<head>

    <% var title="Civil War Battlefields: Account" ; %>
    <% include ../head %>

    <link rel="stylesheet" type="text/css" href="admin.css">

</head>

<body>

    <% include ../nav %>

        <main class="mdl-layout__content mdl-color--grey-100 map-container">

            <!-- Page content -->

        <form action="/sites" method="POST" enctype="multipart/form-data" id="input_form">
        Enter Site Name <input type="text" name="siteName"></input><br>
        Enter Date <input type="text" name="siteDate"></input><br>
        Enter Site Latitude<input type="text" name="Latitude"> </input><br>
        Enter Site Longitude<input type="text" name="Longitude"> </input><br>
        Upload File<input type="File" name="customFile"><br>
       
        </form>
         <textarea name="custom" form="input_form">Enter Custom text here...</textarea>
        <input type="submit" form="input_form">

        </main>

        <% include ../footer %>

        <script src="admin.js"></script>

</body>

</html>