<!DOCTYPE html>
<html lang="en">


<head>

    <% var title="Civil War Battlefields: Account" ; %>
    <% include ../head %>

    <link rel="stylesheet" type="text/css" href="admin.css">

</head>

<body>

    <% include ../nav %>
        
            <main class="mdl-layout__content mdl-color--grey-100 map-container">

                <!-- Page content -->
                <div style="float:right">
                    click to <a href="/logout">logout</a>'
				</div>
				
                <form action="/changepass" method="POST">
					<table>
					    <tr>
						<td>Enter Current Password</td>
                        <td><input type="password" name="currPass"></td>
						</tr>
						<tr>
						<td>New Password</td>
						<td><input type="password" name="newPass1" id="pw1"></td>
						</tr>
                        <tr>
						<td>Confirm New Password</td>
						<td><input type="password" name="newPass2" id="pw2"></td>
						</tr>
                        <tr>
						<td></td>
						<td><input type="submit"></td>
						</tr>
					</table>
                </form>     
                
            </main>
        <% include ../footer %>


</body>

</html>

<script>
    function compareNewPass(){
    var pass1 = document.getElementById("pw1").value;
    var pass2 = document.getElementById("pw2").value;

    if(pass1 == pass2)
        console.log("THESE ARE THE SAME");
    else
        console.log("THESE ARE NOT THE SAME");
};
</script>