<!DOCTYPE html>
<html lang="en">

<head>

    <% var title="Civil War Battlefields: Account" ; %>
    <% include ../head %>

    <link rel="stylesheet" type="text/css" href="admin.css">

</head>

<body>

    <% include ../nav %>
        
            <main class="mdl-layout__content mdl-color--grey-100 map-container">

                <!-- Page content -->
                <div style="float:right">
                    click to <a href="/logout">logout</a>'
                </div>
            </main>
        <% include ../footer %>

        <script src="admin.js"></script>

</body>

</html>