<!-- 
        admin.ejs
        Admin panel for creating/deleting users and backup/restore
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <% var title="Civil War Battlefields: Admin" ; %>
    <% include ../head %>

    <link rel="stylesheet" type="text/css" href="dialog/mdl-modal-dialog.css">
    <link rel="stylesheet" type="text/css" href="admin.css">
    <script src="dialog/mdl-modal-dialog.js"></script>      

    <style>
        #right-bar-btn {
            display: none;
        }
    </style>

</head>

<body>

    <% include ../nav %>

        <main class="mdl-layout__content mdl-color--grey-100 map-container">

            <!-- Page content -->
            <center>
                <h3>User Manager</h3>
            </center>
            <div class="mdl-grid members-section">
                <div id="members" class="mdl-data-tabledynamic mdl-shadow--2dp">
                    <div class="mdl-data-tabledynamic__title">
                        <h2 class="mdl-data-tabledynamic__title-text">Members</h2>
                        <div class="mdl-data-tabledynamic__actions">
                            <button id="add-row" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                ADD
                            </button>
                            <button id="remove-row" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                REMOVE
                            </button>
                        </div>

                    </div>

                    <div class="mdl-data-tabledynamic__content">
                        <table class="mdl-data-table mdl-data-dynamictable mdl-js-data-table mdl-shadow--2dp mdl-cell--6-col mdl-data-table__row--selectable">
                            <thead>
                                <tr>
                                    <th id="user-remove-mode"><i class="user-remover material-icons">content_cut</i></th>
                                    <th class="mdl-data-table__cell--non-numeric">First Name</th>
                                    <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                                    <th class="mdl-data-table__cell--non-numeric">Email</th>
                                    <th class="mdl-data-table__cell--non-numeric">Role</th>
                                    <th class="mdl-data-table__cell--non-numeric"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Add user form -->
                                <tr id="unsaved" class="">
                                    <form id="userForm" action="/register" onsubmit="return validateNewUser(window.event)" method="POST">
                                        <td>
                                            <i class="user-remover material-icons">person_add</i>
                                        </td>
                                        <td style="text-align:left;">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <input class="mdl-textfield__input" type="text" name="firstName" />
                                                <label class="mdl-textfield__label" for="new_firstName">First name</label>
                                            </div>
                                        </td>
                                        <td style="text-align:left;">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <input class="mdl-textfield__input" type="text" name="lastName" />
                                                <label class="mdl-textfield__label" for="new_lastName">Last name</label>
                                            </div>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <input class="mdl-textfield__input" type="text" name="email" />
                                                <label class="mdl-textfield__label" for="new_email">E-mail address</label>
                                            </div>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <div class="mdl-selectfield mdl-js-selectfield">
                                                <select class="mdl-selectfield__select" name="role">
                                                    <option value="1">Editor</option>
                                                    <option value="2">Admin</option>
                                                </select>
                                                <label class="mdl-selectfield__label" for="role"></label>
                                            </div>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <input hidden="true" type="text" name="password" value="admin"></input>
                                            <input type="submit" value="Save" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" />
                                        </td>
                                    </form>
                                </tr>
                                <!-- Generate existing users -->
                                <% for (var ind in users) { %>
                                <tr> 
                                    <td>
                                        <button class="user-remover mdl-button mdl-js-button mdl-button--icon mdl-button--colored" value="<%= users[ind]._id %>">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                    <td style="text-align:left;">
                                        <span class="mdl-data-table__label add-table-content" title="firstname">
                                            <%= users[ind].firstName %>
                                        </span>
                                    </td>
                                    <td style="text-align:left;">
                                        <span class="mdl-data-table__label add-table-content" title="lastname">
                                            <%= users[ind].lastName %>
                                        </span>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <span class="mdl-data-table__label add-table-content" title="email">
                                            <%= users[ind].email %>
                                        </span>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <% if(users[ind].isAdmin) { %>
                                        <span class="mdl-data-table__label add-table-content" title="role">
                                            Admin
                                        </span>
                                        <% } else { %> 
                                        <span class="mdl-data-table__label add-table-content" title="role">
                                            Editor
                                        </span>          
                                        <% } %>
                                    </td>   
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Delete dialog -->
            <dialog class="mdl-dialog">
                <h4 class="mdl-dialog__title">Remove Users</h4>
                <div class="mdl-dialog__content">
                    <p>
                        Selected users will be removed. Are you sure?
                    </p>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button remove">Yes</button>
                    <button type="button" class="mdl-button close">Cancel</button>
                </div>
            </dialog>





        <!-- Restore Form -->
        <br />
        <br />
        <hr />
        <center>
            <h3>Backup / Restore</h3>
            <p>If you need to save a backup of existing battlefield sites, <a class="backup-dl" href="/backup">click here</a>.</p>
            <p>If you need to restore a previously-saved backup file, upload a file using the form below.</p>
            <form action="/restore" method="POST" enctype="multipart/form-data" id="input_form">
                <input type="submit" form="input_form">
                <input type="File" name="backupFile" multiple>
            </form>
            <br />
            <br />
        </center>

        </main>
        <% include ../footer %>


        <script src="admin.js"></script>  

</body>

</html>