<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../head %>
    
  </head>

  <body>

    <% include ../nav %>

      <main class="mdl-layout__content mdl-color--grey-100 map-container">

        

      </main>
      
    <% include ../footer %>

  </body>

</html>