<!-- 
        index.ejs
        Homepage containing map and site management tools
-->

<!DOCTYPE html>
<html lang="en">

  <head>

    <% var title = "Civil War Battlefields: Map";%>
    <% include ../head %>
    
  </head>

  <body>

    <%- include('../nav', {title: title}); %>
    <% include ../infopanel %>
    <% include ../sidebar %>

      <main class="mdl-layout__content mdl-color--grey-100 map-container">
            <!-- CONTENT AREA -->
            <div id="map"></div>
            <button id="zoomOutButton" href="#" style="bottom:25px;right:50px" class="mdl-button mdl-color--white mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent bubbleButton"><i class="material-icons">zoom_out_map</i><span class="mdl-button__ripple-container"></span></button>

            <% if(loggedin) { %>
            <button id="createButton" href="#" style="bottom:25px;left:10px;height:80px" class="mdl-button mdl-color--white mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent bubbleButton">Create<span class="mdl-button__ripple-container"></span></button>
            <% } %>
      </main>

    <div id="lightboxes"></div>
      
    <% include ../mapfoot %>

  </body>

</html>
