<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../head %>
    
  </head>

  <body>

    <% include ../nav %>
    <% include ../rightbar %>

      <main class="mdl-layout__content mdl-color--grey-100 map-container">
            <!-- CONTENT AREA -->
            <div id="map"></div>
      </main>
      
    <% include ../footer %>

  </body>

</html>
