<!DOCTYPE html>
<html lang="en">

<head>

    <% var title="Civil War Battlefields: Admin" ; %>
    <% include ../head %>
    

</head>

<body>


 <form action="/testpass" method="POST" name="form" id="input_form">
        Enter Email<input type="text" name="email"></input><br>
        Enter Password<input type="text" name="password"> </input><br>       
</form>
<input type="submit" form="input_form">

</body>

</html>